* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --first-color: rgb(54, 95, 54);
  --second-color: rgb(142, 55, 55);
  --font-style: "HSBombaram21-Regular";
  --font-color: rgb(250, 247, 247);
}

html {
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

body {
  background-color: var(--first-color);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "NanumSquareNeo-Variable";
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--first-color);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.nav__logo span {
  font-family: "Beau Rivage", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Sacramento", cursive;
  font-family: "Shadows Into Light", cursive;
  font-family: "Song Myung", serif;
  font-family: "Whisper", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
}
.nav__menu {
  display: flex;
  align-items: center;
}

.nav__list {
  position: relative;
  display: flex;
  gap: 100px;
}
.nav-link {
  position: relative;
  font-size: 1em;
  letter-spacing: 0.1em;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--font-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.togglebar {
  position: relative;
  display: none;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, rgb(114, 152, 114), transparent);
}

section img {
  max-width: 40%;
  height: auto;
  margin-top: 2rem;
  position: relative;
  float: left;
  padding: 50px;
}

section h1 {
  font-size: 5rem;
  font-family: "Beau Rivage", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Sacramento", cursive;
  font-family: "Shadows Into Light", cursive;
  font-family: "Song Myung", serif;
  color: var(--second-color);
  margin-right: 50%;
  max-width: 100%;
  animation: slide 2s ease-out;
}

@keyframes slide {
  from {
    right: -100px;
    opacity: 0;
  }
  to {
    left: 400px;
    opacity: 1;
  }
}

#text {
  position: relative;
  color: var(--font-color);
  font-size: 10dvw;
}

#about {
  position: relative;
  padding: 100px;
  background-color: rgb(114, 152, 114);
}

@media (max-width: 768px) {
  .togglebar {
    position: absolute;
    display: contents;
  }
  .menuicon {
    font-size: 2rem;
    cursor: pointer;
    transform: translateX(30px);
    z-index: 10;
  }
  .header {
    align-items: flex-start;
  }

  .nav__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
  }

  header.active .nav__menu {
    top: 80px;
    opacity: 1;
    visibility: visible;
    left: 0;
    background-color: var(--first-color);
    width: 100%;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
  header.active .nav__menu ul {
    display: flex;
    flex-direction: column;
  }
  section {
    flex-direction: column;
  }

  section img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  section h1 {
    font-size: 2.5rem;
    white-space: normal;
  }
}

.search__btn {
  font-family: initial;
  cursor: pointer;
  outline: 0;
  font-size: 1rem;
}

.text {
  opacity: 0.8;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.shop {
  min-height: 100vh;
  background-color: rgb(114, 152, 114);
}

.shop__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.shop__search {
  margin: 2rem 0;
}

.shop-search-box {
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.search-content,
.search__btn {
  width: 100%;
}

.search-content {
  padding: 0 1rem;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid var(--second-color);
  color: var(--second-color);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.search-content::placeholder {
  color: var(--second-color);
}

.search__btn {
  width: 55px;
  height: 55px;
  font-size: 1.8rem;
  background-color: var(--second-color);
  color: aliceblue;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
}

.search__btn:hover {
  background: rgb(192, 80, 80);
}

.shop__result {
  margin-top: 4rem;
}

#shop {
  margin: 2.4rem 0;
}

.shop-item {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  margin: 2rem 0;
}

.shop-img img {
  width: 100%;
  display: block;
}

.shop-name h3 {
  font-size: 1rem;
}

.shop__btn {
  text-decoration: none;
  color: var(--font-color);
  background-color: var(--second-color);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.1rem 0;
  display: block;
  width: 175px;
  margin: 1rem auto;
  border-radius: 2rem;
  transition: all 0.4s linear;
}

.shop__btn:hover {
  background: rgb(192, 80, 80);
}

.shop-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  background: var(--second-color);
  border-radius: 1rem;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  display: none;
  padding: 2rem 0;
}
.shop-details::-webkit-scrollbar {
  width: 10px;
}

.shop-details::-webkit-scrollbar-thumb {
  background-color: var(--font-color);
  border-radius: 2rem;
}

.showShop {
  display: block;
}
.shop-details-content {
  margin: 2rem;
}
.shop-details-content p {
  padding: 1rem 0;
}
.shop-details-content p:not(.shop-category) {
  padding: 1rem 0;
}
.shop__close__btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: var(--font-color);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  opacity: 0.9;
}
.shop-title {
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.shop-category {
  background: var(--font-color);
  font-weight: 600;
  color: var(--second-color);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}
.shop-instruct {
  padding: 1rem 0;
}

.shop-details-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.shop-link {
  margin: 1.4rem 0;
}
.shop-link a {
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
}

.shop-link a :hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .shop-search-box {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  #shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .shop-item {
    margin: 0;
  }
  .shop-details {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  #shop {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
